/*
=====================
STYLES
=====================
*/


body {
  margin: 0;
  padding: 40px;
  font-family: "Courier New", monospace;
  background: #2e2e2e;
  color: #c4c8c6;
  letter-spacing: 1px;
}

/* static noise background */
#staticCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.069; /* controls how strong the static looks */
  pointer-events: none;
}


/* Navigation Bar */
.nav {
  margin-bottom: 40px;
  border-bottom: 2px solid #c4c8c6;
  padding-bottom: 10px;
}

.nav a {
  color: #c4c8c6;
  text-decoration: none;
  margin-right: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.section {
  margin-bottom: 60px;
}

.title {
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #c4c8c6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.block {
  border: 2px solid #c4c8c6;
  padding: 20px;
  text-transform: uppercase;
}

.small {
  font-size: 12px;
}

.diagram {
  margin: 20px 0;
  width: 200px;
  height: 40px;
  border: 2px solid #c4c8c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars {
  height: 14px;
  width: 180px;
  border: 2px solid #c4c8c6;
  border-top: none;
  display: flex;
  gap: 4px;
}

.bars div {
  flex: 1;
  border-top: 2px solid #c4c8c6;
}

.flag {
  width: 40px;
  height: 20px;
  background: #c4c8c6;
  display: inline-block;
  margin-left: 10px;
}

/* Contact Icon  */
.icon-link img {
    width: 64px;
    height: 64px;
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* Hover effect */
.icon-link:hover img {
    transform: scale(1.1);
    filter: brightness(1.3);
}

/* General */
a {
    color: #4ea1ff;      /* normal link color */
    text-decoration: none;
    transition: color 0.2s ease;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  border-bottom: 2px solid #c4c8c6;
  padding-bottom: 10px;
  width: fit-content;
}
